
}
body{
    background-color: sandybrown;
    font-family:Verdana, Geneva, Tahoma, sans-serif

}

h1{
    font-size: 1.7rem;
    background-color: gray;
}

p{
    font-size: 1.2rem;
}


Footer{
    
}
